.seat-list {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  position: fixed;
  left: 80%;
  width: fit-content;
  box-shadow: 5px 5px 10px 1px lightgray;
  z-index: 1;
}

.seat-list h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.scroll-container {
  height: 350px;
  width: 220px;
  overflow-y: auto;
}

.bi-cart-check {
  padding-right: 5px;
}

.list-group-item {
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px;
}

.seat-item {
  font-weight: bold;
  margin: 1rem;
}
